@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0D1D45;
    font-family: Manrope;
}
.theme-changer{
    position: relative;
    display: flex;
    margin: 9px 47%;
    width: 133px;
    height: 53px;
    border-radius: 48px;
    background: #FFCB04;
}
.theme-button{
    position: absolute;
    display: flex;
    width: 47px;
    height: 47px;
    left: 82px;
    top: 3px;
    align-items: center;
    border-radius: 45px;
    background: #0D1D45;
}
.herosection{
    position: relative;
    margin-top: 30px;
    height: 543px;
}
.text-area{
    position: relative;
    width: 50%;
    height: 100px;
    margin: 20px 20px;
}
.text-area h1{
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 185px;
    color: white;
    text-align: center;
}
.image-area{
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.pokedex-image{
    position: absolute;
    right: 52px;
    margin-top: 0px;
    width: 849px;
    height: 342px;
}
.search-area{
    border: none;
    margin: auto;
    flex-grow: 2;
    padding: 1px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 123px;
    border-radius: 28px 0px 0px 28px;
    background: #303D5E;
}

.search-area:focus{
    outline: none;
}

.search-button{
    display: flex;
    bottom: 213px;
    right: 571px;
    height: 123px;
    width: 100px;
    justify-content: center;
    border: None;
    background-color: #E6BC2A;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    align-items: center;
}
.search-button svg{
    width: 55px;
    height: 55px;
    fill: black;
}
input::placeholder{
    border: none;
    width: 223px;
    height: 63px;
    flex-direction: column;
    color: #E6BC2A;
    font-size: 48px;
    padding: 2px;
    font-weight: 300;
    opacity: 0.9;
    line-height: 167px;
    letter-spacing: 2.88px;
}
input{
    width: 223px;
    height: 63px;
    flex-direction: column;
    color: #E6BC2A;
    font-size: 48px;
    padding-right: 123px;
    padding-left: 15px;
    font-weight: 300;
    opacity: 0.9;
    line-height: 167px;
    letter-spacing: 2.88px;
}

.search-div {
    display: flex;
    flex-direction: row;
    vertical-align: baseline;
    width: 100%;
    padding: 0 20%;
}