@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@font-face {
    font-family: 'pokemon';
    src: url(pokemon/Pokemon\ Hollow.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0D1D45;
    font-family: Manrope;
    display: flex;
    transition: 0.4s;
    flex-direction: column;
}
.theme-container{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    
}
.theme-changer {
    max-width: 13vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 10vw;
    height: 4vw;
    border-radius: 4vw;
    background-color: #ffcb04;
}

.theme-button {
    margin-right: 0.2vw;
    height: 3.6vw;
    width: 3.6vw;
    border-radius: 4vw;
    border: none;
    background: #0D1D45;
}

.herosection{
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.text-area h1 {
    text-align: center;
    font-size: 11vw;
    font-weight: 700;
    color: white;
}
.image-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-area img{
    width: 100%;
    height: 13vw;
    min-width: 38vw;
}
.search-box{
    margin-top: 20px;
}
.search-div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-area {
    padding-left: 10px;
    display: flex;
    width: 55vw;
    font-size: 3vw;
    color: #ffcb04;
    min-height: 7vw;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    border: none;
    border-radius: 2vw 0px 0px 2vw;
    flex-shrink: 1;
    background-color: rgb(48, 61, 94);
}
.search-area::placeholder{
    color: #ffcb04;
    opacity: 80%;
    margin-top: 50%;
    font-size: 2vw;
}
.search-area{
    border: none;
}
.search-button {
    flex-shrink: 1.5;
    border: none;
    min-height: 7vw;
    width: 6vw;
    border-radius: 0px 2vw 2vw 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 203, 4);
}
.search-button svg{
    width: 4vw;
    height: 4vw;
}

.pokemon-data-section {
    margin: 10px;
    margin-top: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5vw;
}
.pokemon-data-section .extra-info{
    justify-content: flex-end;
}
/* .pokemon-data-section .description,.type-box{
    display: flex;
    justify-content: flex-end;
} */

.information-block {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    width: 71vw;
    height: 100%;
    margin-left: 2vw;
    background-color: rgb(48, 61, 94);
    color: white;
}

#pokemon-image {
    margin-top: -12vw;
    height: 14vw;
    width: 17vw;
}

.extra-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: auto;
    gap: 20px;
}

.type-box {
    /* margin-right: 3vw; */
    display: flex;
    width: 15vw;
    height: 12vw;
    padding: 2vw;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    background-color: rgb(48, 61, 94);
}
.type-box p{
    font-size: 3vw;
    color: #ffcb04;
}
.description {
    display: flex;
    /* margin-right: 7vw; */
    background-color: #ffcb04;
    flex-direction: column;
    width: 15vw;
    height: 18vw;
    padding: 2vw;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
}
.description h1,p{
    font-size: 1.3vw;
}
#pokemon-name{
    font-size: 2.8vw;
    font-family: 'pokemon';
    margin-top: -2vw;
    color: #ffcb04;
}
.pokemon-data{
    display: flex;
    flex-direction: row;
    width: 69vw;
    padding: 1vw 1vw;
    justify-content: flex-start;
}
.pokemon-stat{
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    gap: 2.17vw;
}
.pokemon-stat p{
    font-size: 1.3vw;
    color: #ffcb04;
    margin-top: 1vw;
    display: flex;
}
.progress-bar-div{
    flex-direction: column;
    display: flex;
    gap: 2.7vw;
    margin-left: 2vw;
    
}
.blinker {
    position: relative;
    display: flex;
    height: 1vw;
    width: 1vw;
    filter: blur(9px);
    background-color: #ffcb04;
}

.progress-bar {
    justify-content: center;
    align-items: center;
    height: 0.55vw;
    width: 49vw;
    margin-top: 1.7vw;
    background-color: #4C67AA;
    border-radius: 2vw;
}
#height{
    width: 1%;
    height: 0.6vw;
    background-color: #ffcb04;
    border-radius: 20px;
}
#weight{
    width: 1%;
    height: 0.6vw;
    background-color: #ffcb04;
    border-radius: 20px;
    
}
#HP{
    width: 1%;
    height: 0.6vw;
    background-color: #ffcb04;
    border-radius: 20px;
    
}
#attack{
    width: 1%;
    height: 0.6vw;
    background-color: #ffcb04;
    border-radius: 20px;
    
}
#special-attack{
    width: 1%;
    height: 0.6vw;
    background-color: #ffcb04;
    border-radius: 20px;
    
}
#defence{
    width: 1%;
    height: 0.6vw;
    background-color: #ffcb04;
    border-radius: 20px;
    
}
#special-defence{
    width: 1%;
    height: 0.6vw;
    background-color: #ffcb04;
    border-radius: 20px;
    
}
#speed{
    width: 1%;
    height: 0.6vw;
    background-color: #ffcb04;
    border-radius: 20px;

}
@keyframes height {
    0% {
        width: 0%;
    }
    100% {
    }
}
@keyframes HP {
    0% {
        width: 0%;
    }
    100% {
    }
}
@keyframes weight {
    0% {
        width: 0%;
    }
    100% {
    }
}
@keyframes attack {
    0% {
        width: 0%;
    }
    100% {
    }
}
@keyframes special-attack {
    0% {
        width: 0%;
    }
    100% {
    }
}
@keyframes defence{
    0% {
        width: 0%;
    }
    100% {
    }
}
@keyframes special-defence {
    0% {
        width: 0%;
    }
    100% {
    }
}
@keyframes speed {
    0% {
        width: 0%;
    }
    100% {
    }
}


/* @media screen and (max-width: 728px) {
    .text-area h1{
        font-size: 6rem;
    }
    .image-area img{
        height: 100px;
    }
}
@media screen and (max-width: 1028px) {
    .theme-changer{
        width: 8vw;
        height: 35px;
    }
    .theme-button{
        left: 59%;
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 850px) {
    .theme-changer{
        width: 10vw;
        height: 35px;
    }
    .theme-button{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 505px) {
    .theme-changer{
        width: 13vw;
        height: 30px;
    }
    .theme-button{
        width: 25px;
        height: 25px;
    }
} */